*
@import url('https://fonts.googleopls.com/css2?fomiy=Roboto&display=swop');



{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 720px;
    background-image: url(Images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 265px;
    height: 700px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 7px 15px;
    font-family: 'Roboto', sans-serif;
}

.top-panel {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-panel div:nth-of-type(1) {
    width: 10px;
    height: 10px;
    background-color: #f00; 
    border-radius: 50%;
}

.top-panel div:nth-of-type(2) {
    width: 10px;
    height: 10px;
    background-color: yellow; 
    border-radius: 50%;
}

.top-panel div:nth-of-type(3) {
    width: 10px;
    height: 10px;
    background-color: #0c0; 
    border-radius: 50%;
}

.top-panel div:hover {
    width: 15px;
    height: 15px;
    transition: 500ms ease-in;
}

.logo-panel {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(8, 230, 8);
}

.logo-panel img {
    width: 50px;
    height: 50px;
}

.logo-panel img:hover {
    width: 60px;
    height: 60px;
    transition: 500ms ease-in;
}

.menu-option {
    width: 100%;
    height: 280px;
    font-size: 0.8rem;
    padding: 5px 0;
}

.menu-option span {
    display: flex;
    margin: 4px auto 15px auto;
    width: 250px;
    height: 2px;
    background: linear-gradient(to right, rgba(30,87,153,0) 0%, rgba(253,255,254,0.98) 50%, white 51%, rgba(255,258,226,0) 99%, rgba(229,228,229,0) 100%);
}

.menu-option h4 {
    color: white;
    font-weight: lighter;
}

.menu-option ul {
    list-style: none;
    padding: 10px 0;
}

.menu-option ul li a {
    text-decoration: none ;
    color: white;
    padding: 10px 0;
    display: block;
    transition: 300ms ease-in-out;
}

.menu-option ul li a i {
    margin-right: 10px;
    color: #eee;
    font-size: 15px;
}

.menu-option ul li a:hover {
    color: rgb(255, 174, 0);
    font-size: 20px;
    background-color: rgba(5, 248, 5, 0.3);
}

.fa-angle-right {
    margin-left: 145px;
}

.thumbnails-panel {
    margin-top: 13px;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.thumbnails-panel img {
    width: 85px;
    border-radius: 15px;
}

.thumbnails-panel img:nth-of-type(1) {
    position: relative;
    transform: rotate3d(1,1,0.8, -10deg);
    
}

.thumbnails-panel img:nth-of-type(2) {
    position: absolute;
    transform: rotate3d(1,1,0.8, 20deg);
    left: 82px;
    top: 35px;
}

.thumbnails-panel img:nth-of-type(3) {
    position: absolute;
    transform: rotate3d(1,0.8,6, 40deg);
    left: 65px;
    top: 42px;
}

.thumbnails-panel img:nth-of-type(4) {
    position: absolute;
    transform: rotate3d(1,0.6,6, 60deg);
    left: 43px;
    top: 42px;
}

.song-detail {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    font-size: 18px;
}

.play-music {
    width: 100%;
    display: block;
}

.timeline-div {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 175px;
    height: 2px;
    position: relative;
    background: #aaa;
}

.timeline::before {
    width: 30%;
    height: 100%;
    background: white;
    content: '';
    position: absolute;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
}

.fa-circle-play {
    font-size: 30px;
}

.fa-circle-play:hover {
    font-size: 40px;
    ransition: 500ms ease-in;
    
}

.play-music span {
    display: block;
    margin: 15px auto 0 auto;
    background: linear-gradient(to right, rgba(30,87,153,0) 0%, rgba(253,255,254,0.98) 50%, white 51%, rgba(255,258,226,0) 99%, rgba(229,228,229,0) 100%);
    width: 250px;
    height: 2px;
}

.footer {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    color: #fff;
    font-family: sans-serif;
    gap: 20px;
}

.footer img {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer img:hover {
    width: 70px;
    height: 70px;
    transition: 500ms ease-in;
}

.footer span {
    width: 21px;
    height: 70px;
}